<div>
  <h3>{{(projectToDisplay | async)?.title}}</h3>
  <h4>{{(projectToDisplay | async)?.team}}</h4>
  <p>{{(projectToDisplay | async)?.fundsPlan}}</p>
  <p>{{(projectToDisplay | async)?.description}}</p>
  <p> {{(projectToDisplay | async)?.fundsActual}} / {{(projectToDisplay | async)?.fundsGoal}}</p>

  <p>Would you like to donate to this project?</p>
  <div>
    <label>Donation Amount($): </label>
    <input #donation>
    <button (click)="addFunds(donation.value)">Donate</button>
  </div>
</div>
